<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda, veja os dados abaixo: </p>

<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />

  <small>
    A encomenda já está disponível para retirada.
  </small>
</p>
